{% extends 'main/layout.html' %}

{% block title %}
    Оформление заказа
{% endblock %}

{% block content %}
<div class="features" style="color: black">
    <center>
        <div class="welcome" style="width: 600px;">
            <h1 style="margin-top: 0px;">Мой второй проект</h1>
            <h3>Начал это чтобы освоить Django REST Framework но в процессе забил хуй и решил делать по старинке через формы и функции представления</h3>
            <h5>Сайт представляет собой вымышленный интернет-магазин разных гитарных приколов. Реализована пользовательская корзина, полноценное оформление заказа, платежный
            шлюз, пагинация товаров и их картинок</h5>
        </div>
        <img src="https://i.pinimg.com/736x/c2/f8/cb/c2f8cbb2c6a1ebfb2ab38e4f9402bffb.jpg">
        <img src="https://sun9-26.userapi.com/impg/yy-O_TDIQjDZONVSyehw1mypQ1FnGTPICCjVvA/fGPIYuGin5s.jpg?size=1125x923&quality=95&sign=e1c405c445987a218934be4ece21f2fb&type=album.jpg">

    </center>
</div>

{% endblock %}