{% extends 'main/layout.html' %}

{% block title %}
    Новости
{% endblock %}

{% block content %}
    <div class="features">
    <h1>Лента новостей</h1>
    </div>
    {% for post in posts %}
        <div class="alert alert-secondary" style="text-align: center">
            <div class="card-body">
                {% for image in post.images.all %}
                    <img src="{{ image.image.url }}" style="height: 400px; width: 500px; border: 1px solid black;">
                {% endfor %}
                <h1 class="card-title" style="font-weight: bold;">{{ post.title }}</h1>
                <h4 class="card-text">{{ post.content|truncatewords:30 }}</h4>
                <h5>{{ post.created_at|date:"d.m.Y H:i" }}</h5>
                <a href="{% url 'posts:post_detail' post.pk %}" class="btn btn-sm btn-outline-primary" style="width: 150px; height: 40px; font-size: 18px;">Читать далее</a>
            </div>
        </div>
    {% empty %}
        <p>Пока нет постов.</p>
    {% endfor %}
{% endblock %}